html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
  font-family: "Prata", serif;
  background-color: rgb(248, 237, 235);
  user-select: none;
}

#main-container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#image-container {
  width: 25%;
  height: 45rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom-right-radius: 25rem;
  border-bottom-left-radius: 25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#info-container {
  background-color: rgb(252, 213, 206);
  width: 50%;
  height: 45rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

#menu-bar-container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}

.top-buttons {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  font-size: 1.5rem;
}

.top-buttons a {
  color: white;
  text-decoration: none;
  border: none;
}

#name-container {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-top: 4rem;
  color: rgb(227, 149, 162);
  font-size: 2rem;
}

h1 {
  width: 100%;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 100;
  color: white;
}

h1 span {
  display: inline-block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#work-experience-container {
  background-color: rgb(252, 213, 206);
  width: 90%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.section-title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  color: white;
}

#experiences-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
}

#first-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

#second-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 2rem; */
}

.exp-content {
  width: 25rem;
  height: 15rem;
  background-color: rgb(255, 181, 167);
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.2s linear;
}

.exp-content:hover {
  cursor: pointer;
  box-shadow: 0 10px 30px white;
}

.margin-right {
  margin-right: 5rem;
}

.margin-left {
  margin-left: 5rem;
}

#education-container {
  background-color: rgb(252, 213, 206);
  width: 90%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: 5rem; */
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.each-ed-container {
  width: 90%;
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(255, 181, 167);
  border-radius: 5px;
}

.education-info {
  color: white;
  font-size: 1.7rem;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.education-place {
  color: white;
  font-size: 1.7rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#contact-me-container {
  background-color: rgb(252, 213, 206);
  width: 90%;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

#contact-me-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#contact-container {
  width: 90%;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.input {
  display: block;
  width: 40rem;
  height: 2rem;
}

label {
  font-size: 1.5rem;
  color: white;
}

#input-message {
  height: 25rem;
  margin-bottom: 2rem;
}

#submit-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  border-style: none;
  background-color: rgb(255, 181, 167);
  border: 0.5px solid black;
  color: white;
  border-radius: 0.2rem;
}

#footer {
  background-color: rgb(255, 181, 167);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  text-decoration: underline;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#footer a {
  color: white;
  font-size: 1.5rem;
}
